*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  
  &--large {
    font-size: 36px;
    line-height: 36px;
  }

  &--small {
    font-size: 16px;
    line-height: 16px;
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;

    &--large {
      font-size: 60px;
      line-height: 60px;
    }

    &--small {
      font-size: 20px;
      line-height: normal;
    }
  }
}

.button {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  background-color: #68B738;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    color: rgba(white, 30%);
  }

  @include tablet {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 1;
  }
}
