.footer-socials {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D9D9D9;

  @include tablet {
    border: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-socials__main-logo {
  align-items: center;
  padding: 32px 0;
  transition: .3s;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer-socials__list {
  list-style: none;
  display: flex;
  gap: 35px;
  justify-content: center;
  margin: 0;
  padding: 20px 75px;
  align-items: center;

  @include tablet {
    gap: 20px;
  }
}



.academy-logo {
  font-family: Arial;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-top: 1px solid #D9D9D9;
  padding: 22px 0;
  transition: .3s;

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    border: none;
    gap: 22px;
    padding: 55px 0;
  }
}