.main-logo {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 8px;

  img {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--current {
    pointer-events: none;
  }
  
}
