.page {
  height: 100%;
  font-size: 16px;
  line-height: 1.4;
  color: white;
  font-family: "DIN Pro", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-color;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}