.program-card {
  background-color: #F2F2F2;
  padding: 24px;

  @include tablet {
    position: relative;
    padding: 72px 315px 56px 56px;
  }

  @include desktop {
    padding: 56px;
    padding-top: 40px;
  }
}

.program-card__title {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include desktop {
    gap: 64px;
    margin-bottom: 40px;
  }
}

.program-card__icon {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #68B738;
  border-radius: 50%;
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include tablet {
    position: absolute;
    top: 50%;
    right: 56px;
    transform: translateY(-50%);
    margin-top: 10px;
    width: 200px;
    height: 200px;

    svg {
      transform: translate(-50%, -50%) scale(3.8);
    }
  }

  @include desktop {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 0;
    width: 100px;
    height: 100px;
    transform: none;

    svg {
      transform: translate(-50%, -50%);
    }
  }
}

.program-card__text {
  padding-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 16px;

  @include tablet {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 48px;
    color: black
  }

  @include desktop {
    margin-bottom: 24px;
  }
}

.program-card__link {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: max-content;

  @include tablet {
    gap: 24px;
  }
}
