.process {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.process__title {
  margin-bottom: 32px;
}

.process__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: number;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  @include tablet {
    gap: 80px;
  }
}

.process__item {
  position: relative;
  display: flex;
  gap: 20px;
  counter-increment: number;

  @include tablet {
    gap: 30px;
    min-height: 280px;
    padding-top: 40px;
    padding-right: 40px;
    flex-direction: column;

    &::after {
      content: counter(number);
      font-size: 280px;
      line-height: 1;
      color: #F2F2F2;
      z-index: -1;
      font-family: 'Oswald';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

.process__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  background-color: #68B738;

  @include tablet {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
  }
}